{% extends "base.html" %}
{% block content %}
  <h2>Gettz NiteClub - Login</h2
  <div class="card">
    <form method="post">
      <div class="grid">
        <div>
          <label>Username</label>
          <input type="text" name="username" required></br
        </div>
        <div>
          <label>Password</label>
          <input type="password" name="password" required>
        </div>
        <div style="display:flex; align-items:flex-end;">
          <button type="submit">Log in</button>
        </div>
      </div>
      <div class="small" style="margin-top:10px;">
      </div>
    </form>
  </div>
{% endblock %}
